@import "../../../scss/colors.scss";
.form {
    background-color:  $secondary !important;
    border-color: $primary !important; 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -2%);
    
    /*
    This doesn't work
    margin-left: -25%;
    margin-top: -25%;
    */
    
    width: auto;
    height: auto;
  
    padding: 20px;  
    background: red;
    color: $secondary;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

  
    
  
    /* display: flex;
    padding: 2.5rem;
    padding-top: 1.25rem; 
    flex-direction: column;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    gap: 0.5rem;
    box-shadow: 0 25px 50px -12px rgba(179, 16, 201, 0.25);
    */
     

    .form_title {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 800;
        text-align: center;
        border-bottom-width: 50px;
        color: #ffffff;
        border-color: #ffffff;

    }

    .form_section_inputs {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        gap: 0.75rem;
        

    }

    .form_submit_button {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; 
        margin-top: 1rem;
        transition-property: opacity;
        color: #ffffff;
        font-weight: 700;
        width: 100%;
        border-radius: 0.375rem;
            
        &:hover {
            opacity: 0.9;
        }





        
    }
}